@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #ff691d;
  --color-secondary: #f52222;
  --color-tertiary: #f81a64;
  --color-quaternary: #ffb623;
  --color-background: #190200;
  --color-foreground: var(--foreground);
  --font-misans:
    var(--font-mi-sans), var(--font-mi-sans-th);
}